.intro {
  position: relative;
  max-width: 1440px;
  margin: 109px auto 0;
}

.intro__gradients {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 126px;
  right: 13.402778%;
  margin: 0;
  z-index: -1;
  display: flex;
}

.intro__gradient1 {
  background: linear-gradient(180deg, #FF08AB 0%, rgba(112, 97, 163, 0) 100%);
  filter: blur(40px);
  width: 215px;
  height: 201.6px;
  border-radius: 50% 50% 35% 35%;
  margin: 0 auto;
  opacity: 0.7;
}

.intro__gradient2 {
  position: absolute;
  width: 369.6px;
  height: 363.2px;
  background: linear-gradient(180deg, #FC50B7 0%, rgba(255, 197, 111, 0.46) 100%);
  filter: blur(40px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 65% 50% 70% 50%;
  opacity: 0.5;
}

.intro__header {
  color: #ffffff;
  font-family: 'SF Pro Display', 'sans-serif';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  margin: 0;
}

.intro__text {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'SF Pro Display', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  margin: 0;
  max-width: 469px;
}

.intro__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Button */
.intro__button {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  border-radius: 12px;
  margin: 0;
  font-family: 'SF Pro Text', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  border: none;
  letter-spacing: 0.0043em;
  width: 122px;
  height: 48px;
  opacity: 1;
  transition: linear 0.25s opacity;
}

.intro__call {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.0043em;
  color: #ffffff;
  width: fit-content;
  margin: 13px 16px;
}

.intro__button:hover {
  opacity: 0.75;
  cursor: pointer;
}

/* IntroAboutWrapper */
.intro__about {
  margin: 0 0 0 152px;
  padding: 179px 0 246px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro__link {
  transition: linear 0.25sec opacity;
  opacity: 1;
  text-decoration: none;
}

.intro__link:hover {
  opacity: 0.75;
}

@media (max-width: 767px) {
  /* IntroAboutWrapper */
  .intro__about {
    margin: 100px auto 0;
    padding-bottom: 178px;
    width: fit-content;
    max-width: 369px;
    text-align: center;
  }

  .intro__header {
    font-size: 48px;
  }

  .intro__text {
    font-size: 21px;
  }

  .intro__actions {
    justify-content: center;
  }
}