@font-face {
  font-family: 'SF Pro Display';
  font-style: 'normal';
  font-weight: 400;
  src: url(./vendors/SFProDisplay-Regular.ttf), format('ttf');
}

body {
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
